<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Cabin' rel='stylesheet' type='text/css'>
{% stylesheet home %}
{% stylesheet styles %}
{% stylesheet form %}
{% stylesheet quiz %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% javascript home %}
{% javascript quiz %}
{% javascript forms %}
{% javascript geo %}
<!-- twitter tags -->


<!-- facebook tags -->

<meta property="og:url" content="http://forcetheclimate.com/quiz/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Climate change quiz" />
<meta property="og:description" content="Take the quiz to test your knowledge of how climate change affects the refugee crisis." />
<meta property="og:image" content="http://forcetheclimate.com/images/climate-logo.jpg" />
<meta property ="twitter:card" content="summary_large_image"/>
<meta property="twitter:site" content="@UNRefugeeAgency"/>
<meta property="twitter:creator" content="@UNRefugeeAgency"/>

